/.env
.idea
.DS_Store
/apps/Introduction-to-Computing/node_modules/
/node_modules/
/packages/core/node_modules/
/packages/tailwind/node_modules/
/apps/Introduction-to-Computing/.turbo/
/apps/Introduction-to-Computing/.contentlayer/
/apps/Introduction-to-Computing/.next/
/packages/core/.turbo/
/packages/tailwind/.turbo/
/packages/ui/.turbo/
/packages/core/dist/
/packages/tailwind/dist/
/.turbo/
/docs/.next/
/docs/.turbo/
/docs/node_modules/
